@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;
    border: 2px solid #F0DB4F;
}
li, a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #1E1E1E;
    text-decoration: none;
    background-color: #F0DB4F;
    height: 20px;
}
/* header{
    padding: 30px 10%;
} */
.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    background-color: #F0DB4F;
    height: 20px;
    list-style: none;
    padding: 50px 60px;
}
.nav-links li a {
    transition: all 0.3 ease 0s;
}
.nav-links li a:hover {
    color: #969191;
}

i {
    background-color: #F0DB4F;
    height: 30px;
}
main {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

div img {
    width: 400px;
    border: 2px solid #F0DB4F;   
  }
