@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --amarelo: #F0DB4F;
  --fundo: #2B2B2B;
  --cinza: #616161;
  --branco: #FFFFFF;
}

body {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: var(--fundo) !important;
  border: 2px solid var(--amarelo) !important;
  color: var(--branco);
  font-size: 16px;
  
}

.home-icon {
    color: black;
    padding-top: 7px;
    height: 30px;
  }
.navbar-custom {
    background-color: var(--amarelo);
} 
li {
    padding-left: 5px;
}
li a:hover {
    color: #0e0d0d !important;
}
.rounded-logo {
  width: 100px;
  height: 200px;
}