@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;
}
li, a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #1E1E1E;
    text-decoration: none;
    background-color: #F0DB4F;
    height: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.nav-links {
    list-style: none;
    padding: 50px 60px;
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    align-items: center;
    padding-left: 100px;
}
.nav-links li a {
    transition: all 0.3 ease 0s;
}
.nav-links li a:hover {
    color: #504A4A;
}

ul {
    margin: 0;
    background-color: #F0DB4F;
    height: 20px;
}
i {
    background-color: #F0DB4F;
    height: 30px;
}
main {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.bebidas {
    
    padding: 100px, 100px;
}
.lanches {
    
    padding: 100px, 100px;
}
.pratos {
    
    padding: 100px, 100px;
}