:root {
    --amarelo: #F0DB4F;
    --fundo: #2B2B2B;
    --cinza: #616161;
    --branco: #FFFFFF;
}

.title1 {
    display: flex;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-left: 100px;
}
.underline-title {
    text-align: center;
    margin: 0;
    color: var(--amarelo)
}
.bebidas {
    display: flex;
    justify-content: center;
    padding: 100px, 100px;
}
.precos-bebidas {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}
.expresso {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}
.lanches {
    display: flex;
    justify-content: center;
    padding: 100px, 100px;
}
.img-lanches {
    padding-top: 45px;
}
.precos-lanches {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}
.pratos {
    display: flex;
    justify-content: center;
    padding: 100px, 100px;
}
.img-pratos {
    padding-top: 40px;
}
.precos-pratos {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}
.doces {
    display: flex;
    justify-content: center;
    padding: 100px, 100px;
}
article img {
    width: 300px;
    height: 300px;
    border: none;
}

.cafe_img {
  width: 300px;
  height: 300px;
  border: 2px solid var(--amarelo);
}
.lanche_img {
    width: 300px;
    height: 300px;
    border: 2px solid var(--amarelo);
}
.prato_img {
    width: 300px;
    height: 300px;
    border: 2px solid var(--amarelo) ;
}
.doce_img {
    width: 300px;
    height: 300px;
    border: 2px solid var(--amarelo) ;
}
div p {
    padding-left: 45px;
}