:root {
    --amarelo: #F0DB4F;
    --fundo: #2B2B2B;
    --cinza: #616161;
    --branco: #FFFFFF;
    --card: #202020;
}

/* NAVBAR STYLES */

/* CARDAPIO STYLES */

.margin-h1 {
    margin-left: 200px;
    margin-right: 200px;
}

.h1-title {
    border-bottom: 1px solid var(--amarelo);
    margin: 0px 0px 0px 0px !important;
    width: 100%;
    padding-bottom: 20px;
    padding-left: 3%;
}

.bebidas {
    display: flex;
    justify-content: center;
    padding: 100px, 100px;
}
.precos-bebidas {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}
.expresso {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}
.lanches {
    display: flex;
    justify-content: center;
    padding: 100px, 100px;
}
.img-lanches {
    padding-top: 45px;
}
.precos-lanches {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}
.pratos {
    display: flex;
    justify-content: center;
    padding: 100px, 100px;
}
.img-pratos {
    padding-top: 40px;
}
.precos-pratos {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}
.doces {
    display: flex;
    justify-content: center;
    padding: 100px, 100px;
}
article img {
    width: 300px;
    height: 300px;
    border: none;
}

.cafe_img {
  width: 300px;
  height: 300px;
  border: 2px solid var(--amarelo);
}
.lanche_img {
    width: 300px;
    height: 300px;
    border: 2px solid var(--amarelo);
}
.prato_img {
    width: 300px;
    height: 300px;
    border: 2px solid var(--amarelo) ;
}
.doce_img {
    width: 300px;
    height: 300px;
    border: 2px solid var(--amarelo) ;
}
div p {
    padding-left: 45px;
}

/* CARDS STYLES */

.container-card {
    color: var(--branco);
    background-color: var(--card);
    width: 1000px;
    border: none;
    border-radius: 20px;
}
.card {
    background-color: var(--card);
    border: none;
    border-radius: 20px;
}
.button-card-expresso {
    border-radius: 20px;
    background-color: var(--card);
    border: 2px solid var(--card);
    transition: transform .2s;
}

.button-card-expresso:hover {
    border: 2px solid var(--amarelo);
    transform: scale(1.05);
}

.card-body {
    display: flex;
    justify-content: space-between;
}
.card-spaces {
    padding-top: 7px;
    padding-bottom: 7px;
}
.cards-pratos {
    padding-left: 10px;
}

/* POP UPS */

.modal-header {
    padding: 0;
    justify-content: normal;
}
.img-pop-up {
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    object-fit: cover
    
}