:root {
    --amarelo: #F0DB4F;
    --fundo: #2B2B2B;
    --cinza: #616161;
    --branco: #FFFFFF;
    --card: #202020;
}

/* NAVBAR STYLES */

/* CARDAPIO STYLES */

.margin-h1 {
    margin-left: 200px;
    margin-right: 200px;
}

.h1-title {
    border-bottom: 1px solid var(--amarelo);
    margin: 0px 0px 0px 0px !important;
    width: 100%;
    padding-bottom: 20px;
    padding-left: 3%;
}

.bebidas {
    /* display: flex;
    justify-content: center; */
    padding: 100px, 100px;
}
.precos-bebidas {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}
.expresso {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}
.lanches {
    display: flex;
    justify-content: center;
    padding: 100px, 100px;
}
.img-lanches {
    padding-top: 45px;
}
.precos-lanches {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.alert{
    position: fixed;
    top: 90%;
    visibility: hidden;
}

.alert-animation{
    animation-name: alert-animation;
    visibility: hidden;
    animation-duration: 4.5s;
}

@keyframes alert-animation {
    0%{top: 100%; visibility:visible;}
    50%{top: 90%;}
    70%{top: 90%;}
    100%{top:100%; visibility: hidden;}
}

.pratos {
    display: flex;
    justify-content: center;
    padding: 100px, 100px;
}
.img-pratos {
    padding-top: 40px;
}
.precos-pratos {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}
.doces {
    display: flex;
    justify-content: center;
    padding: 100px, 100px;
}
article img {
    width: 300px;
    height: 300px;
    border: none;
}

.cafe_img {
  width: 300px;
  height: 300px;
  border: 2px solid var(--amarelo);
}
.lanche_img {
    width: 300px;
    height: 300px;
    border: 2px solid var(--amarelo);
}
.prato_img {
    width: 300px;
    height: 300px;
    border: 2px solid var(--amarelo) ;
}
.doce_img {
    width: 300px;
    height: 300px;
    border: 2px solid var(--amarelo) ;
}
div p {
    padding-left: 45px;
}

/* CARDS STYLES */

.button-card {
    border-radius: 20px;
    background-color: var(--card);
    border: 2px solid var(--card);
    transition: transform .2s;
    width: 100%;
}
.button-card:hover {
    border: 2px solid var(--amarelo);
    transform: scale(1.05);
}
.container-card {
    color: var(--branco);
    background-color: var(--card);
    border: none;
    border-radius: 20px;
}
.card {
    background-color: var(--card);
    border: none;
    border-radius: 20px;
}

.card-body {
    display: flex;
    justify-content: space-between;
}
.card-spaces {
    padding-top: 7px;
    padding-bottom: 7px;
}
.cards-pratos {
    padding-left: 10px;
}

/* POP UPS */
.modal-content {
    background-color: var(--amarelo);
}

.modal-header {
    padding: 0;
    justify-content: normal;
    background-color: var(--amarelo);
    border-radius: 20px 20px 0 0;
}
.img-pop-up {
    width: 100%;
    max-height: 320px;
    border-radius: 20px;
    object-fit: cover
    
}
.modal-content {
    border-radius: 20px;
}
.modal-dialog {
    max-width: 550px;
}

/* MAIN STYLES */
.pop-up-main {
    color: var(--card); 
}
.container-title-and-prices {
    display: flex;
    justify-content: flex-start
}
.title-prices {
    display: flex;
    justify-content: flex-start;
}
.prices-pop-ups {
    display: flex;
    flex-direction: row;
    width: 100px;
    padding-left: 30px;
}
.pop-up-main p {
    padding-left: 0;
}

/* FOOTER STYLES */
.modal-footer {
    border-top: 1px solid var(--card);
    justify-content: center;
}

/* ADD TO CART STYLES */

.add-card-container {
    width: 190px;
    height: 50px;
    background-color: var(--card);
    border: 2px solid var(--card);
    border-radius: 10px;
    color: var(--amarelo);
    margin: 0;
}
.add-card {
    padding-top: 10px;
    padding-left: 15px;
}
.button-card-add {
    width: 200px;
    border-radius: 10px;
    background-color: var(--card);
    border: 2px solid var(--card);
    transition: transform .2s;
}
.add-card-body {
    padding: 0;
}

/* FOOTER CART */
footer {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.cart-button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--card);
    border: 2px solid var(--card);
    transition: transform .2s;
    color: var(--branco);
}
.cart-button:hover {
    border: 2px solid var(--amarelo);
    transform: scale(1.05);
    color: var(--amarelo);
}
