:root {
    --amarelo: #F0DB4F;
    --fundo: #2B2B2B;
    --cinza: #616161;
    --branco: #FFFFFF;
}
/* HEADER */
.rounded-logo {
    width: 300px;
    height: 300px;
}
.img-container {
    display: block;
}
.cart-icon {
    position: absolute;
    left: 49%;
    bottom: 70%;
    color: var(--amarelo);
    font-size: 20px;
}

/* MAIN */

.button-card {
    border-radius: 10px;
    background-color: var(--cinza);
    border: 2px solid var(--cinza);
    transition: transform .2s;
}
.button-card:hover {
    border: 2px solid var(--amarelo);
    transform: scale(1.05);
}
.container-card {
    color: var(--branco);
    background-color: var(--);
    width: 800px;
    border: none;
    border-radius: 20px;
}
.card {
    background-color: var(--card);
    border: none;
    border-radius: 20px;
}

.add-itens-body {
    display: flex;
    justify-content: flex-start;
    margin : 0;
    padding: 0;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 10px;
}
.icon-add {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--amarelo);
}
.content-icon {
    padding-top: 13px;
    padding-left: 2px;
    font-size: 24px;
    color: var(--fundo);
}
.add-itens-text {
    padding-top: 7px;
    padding-left: 12px;
    font-size: 24px;
    font-weight: bold;
    color: var(--branco);
}

/* FOOTER */
.btn-continuar{
    background-color: #f0da4f71;
}

.btn-continuar:hover{
    background-color: #f0da4f;
}

.btn-esvaziar{
    color: white;
    border-color: white;
}

.btn-esvaziar:hover{
    color: white;
    background-color: gray;
}

.footer-buttons {
    padding-bottom: 100px;
}

/* MODAL CART */

.pop-up-itens-modal {
    width: 500px;
    height: 80%;
    background-color: var(--fundo);
}
.modal-header {
    border-bottom: 1px solid var(--amarelo);
}
.modal-title {
    color: var(--branco);
}
li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container-item-card-list {
    align-items: center;
    margin-right: 35px;
}
.button-card-item {
    width: 400px;
    height: 80px;
    border-radius: 10px;
    background-color: var(--cinza);
    border: 2px solid var(--cinza);
    padding: 0;
}
.card-item-list {
    width: 400px;
    height: 80px;
    background-color: var(--cinza);
    border-radius: 10px;
    color: var(--branco);
    border: none;
    padding: 0;
}
.item-body {
    display: flex;
    justify-content: space-between;
    margin : 0;
    padding: 0;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 10px;
}
.img-and-title-item {
    display: flex;
    justify-content: row;
}
.img-item-list {
    object-fit: cover;
    width: 80px;
    height: 70px;
    border-radius: 10px;
}
.title-item {
    padding-top: 20px;
    padding-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: var(--branco);
}
.title-item-fix {
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 60px;
    font-size: 20px;
    font-weight: bold;
    color: var(--branco);
}
.item-desc {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.price-item {
    display: flex;
    flex-direction: flex-end;
    padding-right: 10px;
}

.modal-footer {
    border-top: 1px solid var(--amarelo);
}

.container-div-card-cart {
    margin-top: 10px;
    width: 810px;
    height: 90px;
    background-color: var(--cinza);
    border-radius: 10px;
    padding: 0;
}
.card-cart-body{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-top: 13px;
    margin-bottom: 10px;
    margin-left: 3px;
}
.start-card {
    display: flex;
    justify-content: flex-start;
}
.img-card-cart {
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    margin-right: 10px;
}
.start-card h3 {
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: var(--branco);
}
.end-card {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: var(--branco);
}
#lista-produtos-carrinho {
    padding-left: 0px;
    padding-right: 4px;
}

/* ALERT */
