:root {
    --amarelo: #F0DB4F;
    --fundo: #2B2B2B;
    --cinza: #616161;
    --branco: #FFFFFF;
    --card: #202020;
    --amarelo-opaco: #f0da4fb3;
}

.rounded-logo {
    width: 250px;
    height: 250px;
}

/* CONFIRMATTION CARD STYLES */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-confirmation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--cinza);
    width: 700px;
    height: 70px;
    padding-left: 20px;
    margin-right: 0;
    border-radius: 10px;
}
.container-confirmation i {
    color: var(--amarelo);
    font-size: 50px;
    margin-right: 30px;
    border-radius: 50px;
    background-color: var(--card);
}
.container-confirmation h1 {
    padding-left: 85px;
}

.adress-cafeteria {
    font-size: 35px;
    font-weight: bold;
}


.date-time-ordered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.date-time-ordered h3 {
    font-size: 25px;
    font-weight: bold;
}
.date-ordered {
    padding-right: 15px;
}

.num-pedido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.randomInt {
    padding-left: 10px;
}
.num-pedido .label {
    color: var(--amarelo);
    font-weight: bold;
}
