
.texto a{
    color: #F0DB4F;
    text-decoration: none;
    font-weight: bold;
}
.texto a:hover{
    color: #F0DB4F;
    font-weight: bolder;
    text-decoration: underline;
}

grifado{
    color: #F0DB4F;
    font-weight: bold;
}


.rounded-logo {
    width: 300px;
    height: 300px;
}
.img-pratos-um {
    height: 400px;
    object-fit: cover;
    object-position: 40% 60%;
}
.img-pratos-dois {
    height: 400px;
    object-fit: cover;
    object-position: 40% 30%; 
}
.img-doces-um {
    height: 400px;
    object-fit: cover;
    object-position: 0 30%;
}
.img-doces-dois {
    height: 400px;
    object-fit: cover;
    /* object-position: 0 80%; */
}
.title-pratos {
    display: flex;
    color: #F0DB4F;
    text-shadow: -1px -1px 0 #cfbd45, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
}
article {
    border: 2px solid #F0DB4F;
}
.carroseis {
    margin-top: 30px;
}
p {
    color: white;
    font-size: 24px;
}
